@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.displayNone {
  display: none;
}

body {
  background-color: rgb(18, 18, 18);
  font-family: "Poppins";
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body button {
  font-family: "Poppins";
}

.site-wrapper {
  display: flex;
}

.Toastify svg {
  fill: rgb(220, 220, 220);
}

.side-nav {
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  width: 250px;
  height: 100vh;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(220, 220, 220);
  background-color: rgb(32, 32, 32);
  padding: 15px;
  height: 40px;
}
.nav-header svg {
  fill: rgb(220, 220, 220);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(60, 60, 60);
  border-radius: 5px;
  padding: 7.5px;
  width: 22px;
  height: 22px;
}
.nav-header p {
  margin: 0;
}

.link-container {
  padding: 10px 20px;
  margin: 15px 0;
}
.link-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 7.5px 10px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.link-container a svg {
  fill: rgb(130, 130, 130);
  width: 20px;
  height: 20px;
}
.link-container a p {
  color: rgb(130, 130, 130);
  font-size: 15px;
  margin: 0;
}
.link-container a:not(.active):hover {
  background-color: rgb(47, 47, 47);
  transition-duration: 0.2s;
}
.link-container a:not(.active):hover svg {
  fill: rgb(200, 200, 200);
}
.link-container a:not(.active):hover p {
  color: rgb(200, 200, 200);
}
.link-container .active {
  background-color: rgb(47, 47, 47);
}
.link-container .active svg {
  fill: rgb(200, 200, 200);
}
.link-container .active p {
  color: rgb(200, 200, 200);
}

.main-content {
  position: relative;
  width: calc(100% - 250px);
  height: 100vh;
}

.main-content-header {
  display: flex;
  gap: 25px;
  width: 100%;
  height: 70px;
}
.main-content-header button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(72, 113, 247);
  border: 1px solid rgb(102, 138, 255);
  border-radius: 5px;
  margin: auto 25px auto auto;
  padding: 5px 15px 5px 10px;
  height: 30px;
  width: fit-content;
  transition-duration: 0.3s;
}
.main-content-header button:hover {
  background-color: rgb(82, 123, 255);
  cursor: pointer;
}
.main-content-header button p {
  color: rgb(255, 255, 255);
  margin: 0;
  white-space: nowrap;
}
.main-content-header button svg {
  color: rgb(255, 255, 255);
  width: 19px;
  height: 19px;
}

.db-search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  margin: auto auto auto 25px;
  width: 90%;
  max-width: 250px;
}
.db-search input {
  z-index: 1;
  font-family: "Poppins";
  color: rgb(200, 200, 200);
  background-color: transparent;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 5px;
  outline: none;
  height: 20px;
  padding: 5px 30px 5px 10px;
  width: 100%;
  transition-duration: 0.1s;
}
.db-search input:focus {
  border: 1px solid rgb(120, 120, 120);
}
.db-search svg {
  fill: rgb(120, 120, 120);
  z-index: 0;
  position: absolute;
  right: 0;
  padding: 5px;
  height: 20px;
}

.db-title {
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  padding: 10px 25px;
  height: 30px;
}
.db-title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: rgb(200, 200, 200);
}
.db-title p {
  font-size: 12px;
  color: rgb(130, 130, 130);
  margin: auto 0 2px 5px;
}

.sort-methods {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.sort-methods button {
  font-size: 13px;
  color: rgb(200, 200, 200);
  background-color: rgb(45, 45, 45);
  border: none;
  border-radius: 3px;
  padding: 2px 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.sort-methods button:not(.active):hover {
  background-color: rgb(70, 70, 70);
}
.sort-methods .active {
  background-color: rgb(90, 90, 90);
}

#sort-button {
  width: 100px;
}

.book-db-container {
  margin: 0 25px 40px 25px;
  width: calc(100% - 50px);
  height: calc(100% - 170px);
  background-color: rgb(22, 22, 22);
  border-radius: 3px;
}

.db-header {
  display: grid;
  grid-template-columns: 100px 40% 10% auto;
  column-gap: 20px;
  align-items: center;
  background-color: rgb(30, 30, 30);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  height: 25px;
}
.db-header p {
  font-size: 12px;
  color: rgb(130, 130, 130);
  margin: 0;
}

#db-content {
  padding: 5px 15px;
  height: calc(100% - 45px);
  overflow-y: auto;
}
#db-content::-webkit-scrollbar {
  width: 8px;
}
#db-content::-webkit-scrollbar-thumb {
  background-color: rgb(55, 55, 55);
  border-radius: 16px;
}
#db-content::-webkit-scrollbar-button {
  display: none;
}

.novel {
  display: grid;
  grid-template-columns: 100px 40% 10% auto;
  column-gap: 20px;
  align-items: center;
}
.novel p {
  font-size: 13px;
  color: rgb(130, 130, 130);
  margin: 5px 0;
  padding: 0;
}

.add-book-form {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-book-form .form-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 5px;
  margin: 250px auto auto auto;
  width: 80%;
  max-width: 700px;
  height: 500px;
  animation: form-in 0.3s forwards;
}
.add-book-form .form-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  width: calc(100% - 40px);
  height: 30px;
}
.add-book-form .form-header svg {
  color: rgb(200, 200, 200);
  margin-right: 10px;
  width: 26px;
  height: 26px;
}
.add-book-form .form-header p {
  color: rgb(200, 200, 200);
}
.add-book-form .form-header button {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: fit-content;
  margin-left: auto;
}
.add-book-form .form-header button:hover {
  cursor: pointer;
}
.add-book-form .form-header button svg {
  z-index: 1;
  color: white;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
}
.add-book-form .type-selector {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  height: 60px;
  width: calc(100% - 40px);
}
.add-book-form .type-selector button {
  color: rgb(220, 220, 220);
  background-color: rgb(40, 40, 40);
  border-radius: 2px;
  border: 1px solid rgb(70, 70, 70);
  margin: 0 5px;
  height: 50px;
  width: 100%;
  transition-duration: 0.2s;
  cursor: pointer;
}
.add-book-form .type-selector button:not(.active):hover {
  background-color: rgb(50, 50, 50);
}
.add-book-form .type-selector .active {
  background-color: rgb(72, 113, 247);
  border: 1px solid rgb(112, 144, 250);
}

@keyframes form-in {
  0% {
    margin-top: 260px;
    scale: 0.95;
    opacity: 0.5;
  }
  100% {
    margin-top: 250px;
    scale: 1;
    opacity: 1;
  }
}
.input-forms {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  height: fit-content;
  width: calc(100% - 50px);
}
.input-forms input {
  font-family: "Poppins";
}
.input-forms input::placeholder {
  transition-duration: 0.3s;
}
.input-forms input:focus::placeholder {
  transform: translateX(-30px);
  color: transparent;
}
.input-forms .form1 {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 20px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
}
.input-forms .form1 p {
  font-size: 12px;
  color: rgb(200, 200, 200);
  margin: 4px 5px;
}
.input-forms .form1 input {
  color: rgb(190, 190, 190);
  background-color: rgb(24, 24, 24);
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(42, 42, 42);
  padding: 10px 15px;
  transition-duration: 0.2s;
}
.input-forms .form1 input:focus {
  border: 1px solid rgb(77, 77, 77);
}
.input-forms .form2 {
  width: 100%;
  margin-bottom: 15px;
}
.input-forms .form2 p {
  font-size: 12px;
  color: rgb(200, 200, 200);
  margin: 4px 5px;
}
.input-forms .form2 input {
  color: rgb(190, 190, 190);
  background-color: rgb(24, 24, 24);
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(42, 42, 42);
  padding: 10px 15px;
  width: calc(80% - 30px);
  transition-duration: 0.2s;
}
.input-forms .form2 input:focus {
  border: 1px solid rgb(77, 77, 77);
}
.input-forms .form3 {
  width: 100%;
  margin-bottom: 15px;
}
.input-forms .form3 p {
  font-size: 12px;
  color: rgb(200, 200, 200);
  margin: 4px 5px;
}
.input-forms .form3 input {
  color: rgb(190, 190, 190);
  background-color: rgb(24, 24, 24);
  border-radius: 3px;
  outline: none;
  border: 1px solid rgb(42, 42, 42);
  padding: 10px 15px;
  width: calc(95% - 30px);
  transition-duration: 0.2s;
}
.input-forms .form3 input:focus {
  border: 1px solid rgb(77, 77, 77);
}

.form-footer {
  margin: auto 25px 25px auto;
}
.form-footer button {
  padding: 7.5px 20px;
  color: rgb(220, 220, 220);
  background-color: rgb(72, 113, 247);
  border: 1px solid rgb(102, 138, 255);
  border-radius: 3px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.form-footer button:hover {
  background-color: rgb(82, 123, 255);
}

.bookmarks-db-container {
  margin: 0 25px 40px 25px;
  width: calc(100% - 50px);
  height: calc(100% - 170px);
  background-color: rgb(22, 22, 22);
  border-radius: 3px;
}
.bookmarks-db-container .db-header {
  grid-template-columns: 100px 40% 10% auto;
  column-gap: 20px;
}

.bookmark {
  display: grid;
  grid-template-columns: 100px 40% 10% auto;
  column-gap: 20px;
  align-items: center;
}
.bookmark p {
  font-size: 13px;
  color: rgb(130, 130, 130);
  margin: 5px 0;
  padding: 0;
}
.bookmark a {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgb(130, 130, 130);
  margin: 5px 0;
  padding: 0;
}
.bookmark a svg {
  margin-left: 2px;
  width: 15px;
  height: 15px;
}

@media (max-width: 750px) {
  .side-nav {
    width: 60px;
  }
  .nav-header {
    padding: 15px 10px;
  }
  .nav-header svg {
    margin: 0 auto;
  }
  .nav-header p {
    display: none;
  }
  .link-container {
    padding: 15px 10px;
  }
  .link-container p {
    display: none;
  }
  .main-content {
    width: calc(100% - 60px);
  }
  .db-header {
    grid-template-columns: 40% 20% auto;
  }
  .db-header :first-child {
    display: none;
  }
  .sort-methods {
    display: none;
  }
  .novel:not(#skeleton) {
    grid-template-columns: 40% 20% auto;
  }
  .novel:not(#skeleton) :first-child {
    display: none;
  }
  .bookmarks-db-container .db-header {
    grid-template-columns: 40% 20% auto;
  }
  .bookmark {
    grid-template-columns: 40% 20% auto;
  }
  .bookmark :first-child:not(.link-label) {
    display: none;
  }
  .input-forms input {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */